doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title band update
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  link(href='/Btrp/css/bootstrap.min.css' rel='stylesheet')
  link(href='/css/style.css' rel='stylesheet')
  link(href='/css/style3.css' rel='stylesheet')
nav.navbar.navbar-expand-lg.my-bckgd
  .container-fluid
    a#spcleft-logo.navbar-brand.me-color(href='/')
      img(src='/images/logo2.png' alt='ugaamux' width='60' height='60')
    
    button.navbar-toggler.menu-border(type='button ' data-bs-toggle='collapse ' data-bs-target='#navbarNavAltMarkup ' aria-controls='navbarNavAltMarkup ' aria-expanded='false ' aria-label='Toggle navigation ')
      .hmenu
      .hmenu
      .hmenu
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav.left
        a.nav-link.me-color(href='/welcomeadmin') Admin
        a.nav-link.me-color(href='/') Home
        a.nav-link.me-color(href='/artistspage/artist') Artists
        a.nav-link.me-color(href='/comedianspage/comedian') Commedians
        a.nav-link.me-color(href='/bandpage/band') Bands
        a.nav-link.me-color(href='/aboutuspage/about') About Us
        a.nav-link.me-color(href='/blog') Blog
        a.nav-link.me-color(href='/contactUS/contactUs') Contact
        span
          a#left-span-a(href='/registerartist/register')
            | Registration 
            .drop-links
              a(href='/registerartist/register') Artist
              a(href='/registercomedian/comedianrgtn') Comedian
              a(href='/registerband/bandregistration') Band
              a(href='/postblogpage/blog') Blog post
              a(href='/registeradmin/adminregistration') Admin form

            




div.form-row
  div.updatepicband
    img(src='/'+band.bandicon )
form.updatef(method="post" action="/update/bandupdate/"+band.email )
        table.table
            thead
                tr
                    th Stage name
                    td 
                       input.form-control( value=band.bandname name ="bandname")
              
                tr
                    th Email
                    td 
                        input.form-control(value=band.email name ="email")
                
                tr
                    th Number of members
                    td 
                        input.form-control(value=band.numberofmembers name ="numberofmembers")
                tr
                    th  members
                    td 
                        input.form-control(value=band.members name ="members")      
                tr
                    th  Sponsers
                    td 
                        input.form-control(value=band.bandsponsers name ="bandsponsers")            
                tr
                    th District
                    td 
                        select.form-control( name="home")  
                            option(value="Mbarara" selected = band.home === "Mbarara"  ) Mbarara
                            option(value="Kampala" selected = band.home === "Kampala" ) Kampala
                            option(value="Gulu" selected = band.home === "Gulu") Gulu
                            option(value="Wakiso" selected = band.home === "Wakiso" ) Wakiso
                            option(value="Jinja" selected = band.home === "Jinja" ) Jinja
                            option(value="Masaka" selected = band.home === "Masaka" ) Masaka
                            option(value="Mbale" selected = band.home === "Mbale" ) Mbale
                tr
                    td(colspan=2)
                        button.btn.btn-dark.update-btn(type="submit") Update

.row
  .footer.col-lg-6.col-md-6.col-sm-12
    .text-box-footer
      h1 Contact With US
      span
        | Email: 
        a(href='# ') ugaamux@gmail.com
      br
      span
        | Call: 
        a(href='# ') 0785234859
      br
      span  Location:Kampala (UG)
      br
      i.fa.fa-facebook-square
      i.fa.fa-whatsapp
      i.fa.fa-twitter-square
      i.fa.fa-instagram
      i.fa.fa-linkedin-square
  .footer-2.col-lg-6.col-md-6.col-sm-12
    .text-box-footer
      h1
      a.footer-link(href='# ') Support
      a.footer-link(href='# ') Artists
      a.footer-link(href='# ') Commedians
      a.footer-link(href='# ') Bands
      a.footer-link(href='# ') AboutUs
      a.footer-link(href='# ') Blog
.copyright
  p  
   i.fa.fa-copyright Sabiiti Raymond 2021
script(src='../js/sign.js')
script(src='../Btrp/js/bootstrap.min.js ')
